@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("../fonts/opensans/opensans-regular.ttf"); }
@font-face {
  font-family: 'Open Sans Bold';
  font-weight: 700;
  src: url("../fonts/opensans/opensans-bold.ttf"); }
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("../fonts/lato/lato-bold.ttf"); }
@font-face {
  font-family: 'Montserrat Bold';
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-bold.ttf"); }
@font-face {
  font-family: 'Montserrat Medium';
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-medium.ttf"); }
html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box; }

.b-contacts {
  overflow: hidden;
  padding: 33px 90px; }
  @media all and (max-width: 440px) {
    .b-contacts {
      padding: 0; } }
  .b-contacts__left_decor {
    float: left; }
    @media all and (max-width: 1300px) {
      .b-contacts__left_decor {
        float: none; } }
  .b-contacts__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .b-contacts__right_decor {
      float: right; }
      @media all and (max-width: 1300px) {
        .b-contacts__right_decor {
          float: none; } }
  .b-contacts__item {
    width: 290px;
    height: 51px;
    display: flex;
    flex-direction: row; }
    .b-contacts__item_decor {
      margin: 5px 0; }
  .b-contacts__circle {
    width: 51px;
    height: 51px;
    background-image: url("../img/Ellipse_1_copy_10.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .b-contacts__circle_decor {
      float: left;
      margin-right: 5px; }
  .b-contacts__clock {
    width: 27px;
    height: 27px;
    background-image: url("../img/clock.png");
    background-size: cover;
    position: relative; }
    .b-contacts__clock_decor {
      position: absolute;
      top: 12px;
      left: 12px; }
  .b-contacts__mail {
    width: 24px;
    height: 19px;
    background-image: url("../img/copy.png");
    background-size: cover;
    position: relative; }
    .b-contacts__mail_decor {
      position: absolute;
      top: 16px;
      left: 13px; }
  .b-contacts__phone {
    width: 18px;
    height: 30px;
    background-image: url("../img/phone.png");
    background-size: cover;
    position: relative; }
    .b-contacts__phone_decor {
      position: absolute;
      top: 11px;
      left: 16px; }
  .b-contacts__info {
    width: 228px;
    height: 37px;
    float: right; }
  .b-contacts__title {
    font-family: 'Open Sans Bold', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #6a6a6a;
    text-transform: uppercase; }
  .b-contacts__text {
    font-family: 'OpenSans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #6a6a6a;
    display: block;
    width: inherit; }

.b-logo {
  width: 210px;
  height: 42px;
  background-image: url("../img/Logo.png"); }
  .b-logo_decor {
    margin: 5px 10px 5px 0; }

@keyframes logoSmallAnimation {
  0% {
    opacity: 1; }
  18.75% {
    opacity: 1; }
  36% {
    opacity: 0; }
  85% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes weHaveBestAnimation {
  0% {
    background: url("../img/Layer_10.jpg") no-repeat center center;
    background-size: cover; }
  6.25% {
    background: url("../img/Layer_10.jpg") no-repeat center center;
    background-size: cover; }
  12.5% {
    background: url("../img/Layer_11.jpg") no-repeat center center;
    background-size: cover; }
  18.75% {
    background: url("../img/Layer_11.jpg") no-repeat center center;
    background-size: cover; }
  36% {
    background: url("../img/Layer_10_5.jpg") no-repeat center center;
    background-size: cover; }
  53% {
    background: url("../img/Layer_10_5.jpg") no-repeat center center;
    background-size: cover; }
  69% {
    background: url("../img/Layer_10_4.jpg") no-repeat center center;
    background-size: cover; }
  85% {
    background: url("../img/Layer_10_4.jpg") no-repeat center center;
    background-size: cover; }
  100% {
    background: url("../img/Layer_10.jpg") no-repeat center center;
    background-size: cover; } }
@keyframes myAnimationImg {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(90deg); } }
@keyframes myAnimationTxt {
  0% {
    transform: rotateY(270deg); }
  50% {
    transform: rotateY(270deg); }
  100% {
    transform: rotateY(360deg); } }

/*# sourceMappingURL=style.css.map */
