// @import "../packages/bootstrap-4.1.1/scss/bootstrap";
@import "_variables";
// @import "blocks/_html";
// @import "blocks/_container";
// @import "blocks/_b_contacts";
// @import "blocks/_b_nav";
// @import "blocks/_b_weHaveBest";
// @import "blocks/_b_logoSmall";
// @import "blocks/_b_bestTreatment";
// @import "blocks/_b_logo";
// @import "blocks/_b_navSocialWrap";
// @import "blocks/_b_ourPlusesWrap";
// @import "blocks/_b_emergencyHelp";
// @import "blocks/_b_medicalStaff";
// @import "blocks/_b_qalifiedDoctors";
// @import "blocks/_b_whyChoose";
// @import "blocks/_b_whyChooseWrap";
// @import "blocks/_b_ourSuccessWrap";
// @import "blocks/_b_howWrap";
// @import "blocks/_b_gallery";
// @import "blocks/_b_galleryWrap";
// @import "blocks/_b_ourTeam";
// @import "blocks/_b_ourTeamWrap";
// @import "blocks/_b_newPatient";
// @import "blocks/_b_footerTop";
// @import "blocks/_b_footerBottom";
// @import "blocks/_keyframes";

html {
	width: 100%;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 1600px;
	padding: 0;
	background-color: $background-color;
}

.b-contacts {
	width: 1600px;
	overflow: hidden;
	padding: 33px 90px;
	@media all and (max-width: 1001px) {
		width: 1500px;
		margin: 0 auto;
		}
	&__left {
		float: left;
		// @include media-breakpoint-down(xs) {
		// float: none;
		// margin-bottom: 20px;
	 //    }
	}
	&__right {
		max-width: 1000px;
		float: right;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		// @include media-breakpoint-down(xs) {
		// 	float: none;
		// 	flex-direction: column;
		// 	align-items: center;
		// 	justify-content: center;
		// }
	}
	&__item {
		width: 290px;
		height: 51px;
		// @include media-breakpoint-down(xs) {
		// 	height: 102px;
		// }
		&_decor {
			// @include media-breakpoint-down(xs) {
			// 	margin: 20px 0;
			// }
		}
	}
	&__workTime {
		// @include media-breakpoint-down(xs) {
		// 	width: 630px;
		// }
	}
	&__mailUs {
		// @include media-breakpoint-down(xs) {
		// 	width: 496px;
		// }
	}
	&__callUs {
		// @include media-breakpoint-down(xs) {
		// 	width: 364px;
		// }
	}
	&__circle {
		width: 51px;
		height: 51px;
		background-image: url('../img/Ellipse_1_copy_10.png');
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		// @include media-breakpoint-down(xs) {
		// 	width: 102px;
		// 	height: 102px;
		// }
		&_decor {
			float: left;
		}
	}
	&__clock {
		width: 27px;
		height: 27px;
		background-image: url("../img/clock.png");
		background-size: cover;
		position: relative;
		// @include media-breakpoint-down(xs) {
		// 	width: 54px;
		// 	height: 54px;
		// }
		&_decor {
			position: absolute;
			top: 12px;
			left: 12px;
			// @include media-breakpoint-down(xs) {
			// 	top: 24px;
			// 	left: 24px;
			// }
		}
	}
	&__mail {
		width: 24px;
		height: 19px;
		background-image: url("../img/copy.png");
		background-size: cover;
		position: relative;
		// @include media-breakpoint-down(xs) {
		// 	width: 48px;
		// 	height: 38px;
		// }
		&_decor {
			position: absolute;
			top: 16px;
			left: 13px;
			// @include media-breakpoint-down(xs) {
			// 	top: 32px;
			// 	left: 26px;
			// }
		}
	}
	&__phone {
		width: 18px;
		height: 30px;
		background-image: url("../img/phone.png");
		background-size: cover;
		position: relative;
		// @include media-breakpoint-down(xs) {
		// 	width: 36px;
		// 	height: 60px;
		// }
		&_decor {
			position: absolute;
			top: 11px;
			left: 16px;
			// @include media-breakpoint-down(xs) {
			// 	top: 22px;
			// 	left: 32px;
			// }
		}
	}
	&__info {
		width: 228px;
		height: 37px;
		float: right;
		// @include media-breakpoint-down(xs) {
		// 	width: auto;
		// }
	}
	&__title {
		@include contactTitleBoldFont;
		text-transform: uppercase;
	}
	&__text {
		@include contactTextMediumFont;
		display: block;
		width: inherit;
	}
}

.b-nav {
	height: 32px;
	width: auto;
	// @include media-breakpoint-down(xs) {
	// 	margin: 0 auto;
	// }
}
.b-nav__Menu {
    height: 15px;
    display: flex;
    list-style-type: none;
    padding: 0; 
}
.b-nav__link {
	@include textNav;
    padding-left: 20px;  
}
.b-nav__link:hover {
    color:  #6c6c6c;
    text-decoration: none;
} 

.b-weHaveBest {
	width: 1597px;
	min-height: 640px;
	background-image: url("../img/Layer_10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	animation: weHaveBestAnimation 20s linear infinite 0s;
	// @include media-breakpoint-down(xs) {
	// 	height: 2120px;
	// 	background-image: url("../img/Layer_10_1.jpg");
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// }
	&__info {
		width: 542px;
		height: 189px;
		&_decor {
			position: absolute;
			top: 140px;
			left: 200px;
			// @include media-breakpoint-down(xs) {
			// 	width: auto;
			// 	height: 189px;
			// 	position: absolute;
			// 	top: 530px;
			// 	left: 64px;
			// }
		}
	}
	&__title {
		width: 575px;
		@include titleMediumFont(#474747, 48px, center);
		text-transform: none;
		margin-bottom: 37px;
		// @include media-breakpoint-down(xs) {
		// 	width: auto;
		// }
	}
	&__text {
		@include text;
		color:  #3f3f3f;
		font-size: 17px;
	}
	&__button {
		&_decor {
			@include button;
			margin: 0 auto;
	    	position: absolute;
		    top: 390px;
		    left: 392px;
		 //    @include media-breakpoint-down(xs) {
			// 	position: absolute;
			// 	top: 800px;
			// 	left: 650px;
			// }
		}
		&:hover {
	  		@include buttonHover;
	  	}
	}	
}

.b-logoSmall {
	width: 125px;
	height: 25px;
	background-image: url("../img/Logo_small.png");
	animation: logoSmallAnimation 20s linear infinite 0s;
	// @include media-breakpoint-down(xs) {
	// 	width: 420px;
	// 	height: 84px;
	// 	background-image: url('../img/Logo.png');
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// }
	&_decor {
		position: absolute;
		bottom: 78px;
		right: 651px;
		// @include media-breakpoint-down(xs) {
		// 	position: absolute;
		// 	bottom: 240px;
		// 	left: 850px;
		// }
	}
}

.b-bestTreatment {
	background: #43b1d2;
	&__img {
		width: 75px;
		height: 75px;
		background-image: url("../img/Ellipse_1_copy_5.png");
		position: relative;
		&_decor {
			margin: 0 auto;
		}
	}
	&__insideImg {
		width: 45px;
		height: 50px;
		background-image: url("../img/VectorSmartObject_8.png");
		&_decor {
			position: absolute;
			top: 13px;
			left: 20px;
		}
	}
	&__title  {
		@include titleBoldFont(#ffffff, 30px, center);
		&_decor {
			margin-top: 10px;
		}
	}
	&__text {
		@include text;
		color:  #ffffff;
		&_decor {
			margin-top: 10px;
		}
	}
}

.b-logo {
	width: 210px;
	height: 42px;
	background-image: url('../img/Logo.png');
	&_decor {
		margin: 20px 210px 20px 0;
		// @include media-breakpoint-down(xs) {
		// margin-bottom: 20px;
	 //    }
	}
}

.b-navSocialWrap {
	width: 1600px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 34px 112px;
	&__socialIcon {
		@include socialIcon(20px, #191919, 23.34px, 400, center);
			&:hover {
			@include socialIconHover;
		}
	}
	&_decor {
		margin: 0 auto;
	}
}

.b-ourPlusesWrap {	
	margin: 0 auto;
	&__item {
		padding: 75px 60px 57px 60px;
	}
}

.b-emergencyHelp {
	background: #3fb6c6;
	&__img {
		width: 75px;
		height: 75px;
		background-image: url("../img/Ellipse_1_copy_5.png");
		position: relative;
		&_decor {
			margin: 0 auto;
		}
	}
	&__insideImg {
		width: 51px;
		height: 46px;
		background: url("../img/VectorSmartObject.png");
		&_decor {
			position: absolute;
			top: 17px;
			left: 12px;
		}
	}
	&__title  {
		@include titleBoldFont(#ffffff, 30px, center);
		&_decor {
			margin-top: 10px;
		}
	}
	&__text {
		@include text;
		color:  #ffffff;
		&_decor {
			margin-top: 10px;
		}
	}
}

.b-medicalStaff {
	background: #3cbbbb;
	&__img {
		width: 75px;
		height: 75px;
		background-image: url("../img/Ellipse_1_copy_5.png");
		position: relative;
		&_decor {
			margin: 0 auto;
		}
	}
	&__insideImg {
		width: 31px;
		height: 54px;
		background: url("../img/VectorSmartObject_5.png");
		&_decor {
			position: absolute;
			top: 12px;
			left: 22px;
		}
	}
	&__title  {
		@include titleBoldFont(#ffffff, 30px, center);
		&_decor {
			margin-top: 10px;
		}
	}
	&__text {
		@include text;
		color:  #ffffff;
		&_decor {
			margin-top: 10px;
		}
	}
}

.b-qualifiedDoctors {
	background: #37c3a8;
	&__img {
		width: 75px;
		height: 75px;
		background-image: url("../img/Ellipse_1_copy_5.png");
		position: relative;
		&_decor {
			margin: 0 auto;
		}
	}
	&__insideImg {
		width: 44px;
		height: 42px;
		background: url("../img/VectorSmartObject_4.png");
		&_decor {
			position: absolute;
			top: 17px;
			left: 18px;
		}
	}
	&__title  {
		@include titleBoldFont(#ffffff, 30px, center);
		&_decor {
			margin-top: 10px;
		}
	}
	&__text {
		@include text;
		color:  #ffffff;
		&_decor {
			margin-top: 10px;
		}
	}
}

.b-whyChoose {
	width: 1600px;
	&_decor {
		margin: 0 auto;
	}
	&__title {
		@include titleBoldFont(#494949, 45px, center);
		color: #494949;
		&_decor {
			margin: 0 auto;
			margin-top: 126px;
		}
	}
	&__text {
		max-width: 878px;
		@include text;
		color: #6a6a6a;
		&_decor {
			margin: 31px auto 31px;
		}
	}
}

.b-whyChooseWrap {
	max-width: 1150px;
	display: grid;
	grid-template-columns: 1fr 337px 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 43px;
	grid-row-gap: 5px;
	// @include media-breakpoint-down(sm) {
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-template-rows: 598px 1fr 1fr;
	// }
	&_decor {
		margin: 0 auto;
		margin-top: 25px;
	}
	&__item {
		position: relative;
		&_decor {
			margin-top: 55px;
		}
	}
	&__three_decor {
		margin: 0;
	}
	&__circle {
		width: 75px;
		height: 75px;
		background-image: url("../img/Ellipse_1_copy_6.png");
		float: left;
	}
	&__title {
		@include titleBoldFont(#6f6f6e, 30px, left);
		&_decor {
			margin: 20px 0 0 94px;
		}
	}
	&__text {
		@include text;
		color:  #6a6a6a;
		text-align: left;
		clear: both;
		&_decor {
			margin-top: 20px;
			margin: 20px 0;
		}
	}
	&__star {
		width: 43px;
		height: 45px;
		background-image: url("../img/VectorSmartObject_3.png");
		&_decor {
			position: absolute;
			top: 16px;
			left: 16px;
		}
	}
	&__microscope {
		width: 41px;
		height: 53px;
		background-image: url("../img/VectorSmartObject_9.png");
		&_decor {
			position: absolute;
			top: 8px;
			left: 17px;
		}
	}
	&__pills {
		width: 45px;
		height: 40px;
		background-image: url("../img/VectorSmartObject_2.png");
		&_decor {
			position: absolute;
			top: 18px;
			left: 16px;
		}
	}
	&__nuclear {
		width: 46px;
		height: 53px;
		background-image: url("../img/VectorSmartObject_10.png");
		&_decor {
			position: absolute;
			top: 11px;
			left: 13px;
		}
	}
	&__three {
		grid-column: 2/3;
	 	grid-row: 1/3;
		background-image: url("../img/Layer_2.png");
		// @include media-breakpoint-down(sm) {
		// 	grid-column: 1/-1;
	 // 		grid-row: 1/2;
	 // 		background-repeat: no-repeat;
	 // 		background-size: cover;
	 // 		margin: 0 400px;
		// }
	}
}

.b-ourSuccessWrap {
	width: 1600px;
	min-height: 592px;
	background-image: url("../img/Layer_9_3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	&_decor {
		margin: 0 auto;
	}
	// @include media-breakpoint-down(xs) {
	// 	background-image: url("../img/Layer_9_2.jpg");
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// }
	&__item {
		padding-bottom: 20px;
	}
	&__imageHands {
		width: 91px;
		height: 80px;
		background-image: url("../img/VectorSmartObject_6.png");
		&_decor {
			margin: 153px auto 47px;
		}
	}
	&__imageHeart {
		width: 79.5px;
		height: 70px;
		background-image: url("../img/VectorSmartObject_11.png");
		&_decor {
			margin: 157px auto 53px;
		}
	}
	&__imageHelicopter {
		width: 90px;
		height: 62px;
		background-image: url("../img/VectorSmartObject_12.png");
		&_decor {
			margin: 158px auto 60px;
		}
	}
	&__imageLungs {
		width: 90px;
		height: 72px;
		background-image: url("../img/VectorSmartObject_7.png");
		&_decor {
			margin: 153px auto 55px;
		}
	}
	&__figures {
		@include titleMediumFont(#ffffff, 60px, center);
		&_decor {
			margin: 0 auto 26px;
		}
	}
	&__underline {
		width: 85px;
		height: 6px;
		background-color:  #ffffff;
		&_decor {
			margin: 0 auto 27px;
		}
	}
	&__text {
		@include titleMediumFont(#ffffff, 25px, center);
	}
}

.b-howWrap {
	width: 1600px;
	padding: 100px 0;
	justify-content: center;
	justify-items: center;
	display: grid;
	grid-column-gap: 42px;
	grid-template-columns: 334px 334px 422px;
	grid-template-areas:
		"howWeWorks howWeWorks ourCreative"
		"imageFirst imageSecond heartTreatment"
		"doctorSheduleFirst doctorSheduleSecond heartTreatmentButtons"
		"button button .";
	// @include media-breakpoint-down(sm) {
	// 	grid-template-columns: repeat(2, 640px);
	// 	grid-column-gap: 50px;
	// 	grid-row-gap: 20px;
	// 	grid-template-areas:
	// 		"howWeWorks ourCreative"
	// 		"imageFirst imageSecond"
	// 		"doctorSheduleFirst doctorSheduleSecond" 
	// 		"heartTreatment heartTreatmentButtons"
	// 		"button button";
	// }
	@media all and (max-width: 390px) {
		grid-template-columns: 1002px;
		grid-row-gap: 20px;
		grid-template-areas:
			"howWeWorks" 
			"ourCreative"
			"imageFirst" 
			"doctorSheduleFirst"
			"imageSecond"
			"doctorSheduleSecond" 
			"heartTreatment" 
			"heartTreatmentButtons"
			"button";
	}
	&_decor {
		margin: 0 auto;
	}
	&__howWeWorks {
		grid-area: howWeWorks;
	}
	&__ourCreative {
		grid-area: ourCreative;
	}
	&__imageFirst {
		grid-area: imageFirst;
		width: 334px;
		height: 210px;
		position: relative;
		&:hover .b-howWrap__imgFirstInside {
			transform: rotateY(90deg);
		    animation: myAnimationImg .3s;
		    animation-timing-function: linear;
		}
		&:hover .b-howWrap__txtFirstInside {
			transform: rotateY(360deg);
		    animation: myAnimationTxt .6s;
		    animation-timing-function: linear;
		}
		// @include media-breakpoint-down(sm) {
		// 	width: 668px;
		// 	height: 420px;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// }
		@media all and (max-width: 390px) {
			width: 1002px;
			height: 630px;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__imgFirstInside {
		width: 334px;
		height: 210px;
		// @include media-breakpoint-down(sm) {
		// 	width: 668px;
		// 	height: 420px;
		// }
		@media all and (max-width: 390px) {
			width: 1002px;
			height: 630px;
		}
		&_decor {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 1;
		}
	}
	&__txtFirstInside {
		width: 334px;
		height: 210px;
		background: #3cbbbb;
		padding: 20px;
		// @include media-breakpoint-down(sm) {
		// 	width: 668px;
		// 	height: 420px;
		// }
		@media all and (max-width: 390px) {
			width: 1002px;
			height: 630px;
		}
		@include text;
		&_decor {
			position: absolute;
		    top: 0;
		    left: 0;
		}
	}
	&__imageSecond {
		grid-area: imageSecond;
		width: 334px;
		height: 210px;
		position: relative;
		&:hover .b-howWrap__imgSecondInside {
			transform: rotateY(90deg);
		    animation: myAnimationImg .3s;
		    animation-timing-function: linear;
		}
		&:hover .b-howWrap__txtSecondInside {
			transform: rotateY(360deg);
		    animation: myAnimationTxt .6s;
		    animation-timing-function: linear;
		}
		// @include media-breakpoint-down(sm) {
		// 	width: 668px;
		// 	height: 420px;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// }
		@media all and (max-width: 390px) {
			width: 1002px;
			height: 630px;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__imgSecondInside {
		width: 334px;
		height: 210px;
		// @include media-breakpoint-down(sm) {
		// 	width: 668px;
		// 	height: 420px;
		// }
		@media all and (max-width: 390px) {
			width: 1002px;
			height: 630px;
		}
		&_decor {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 1;
		}
	}
	&__txtSecondInside {
		width: 334px;
		height: 210px;
		background: #3cbbbb;
		padding: 20px;
		// @include media-breakpoint-down(sm) {
		// 	width: 668px;
		// 	height: 420px;
		// }
		@media all and (max-width: 390px) {
			width: 1002px;
			height: 630px;
		}
		@include text;
		&_decor {
			position: absolute;
		    top: 0;
		    left: 0;
		}
	}
	&__heartTreatment {
		grid-area: heartTreatment;
	}
	&__doctorSheduleFirst {
		grid-area: doctorSheduleFirst;
	}
	&__doctorSheduleSecond {
		grid-area: doctorSheduleSecond;
	}
	&__heartTreatmentButtons {
		grid-area: heartTreatmentButtons;
		// @include media-breakpoint-down(xs) {
		// 	width: 100%;
		// }
	}
	&__button {
		grid-area: button;
		&_decor {
			@include button;
			margin-bottom: 20px;
			margin: 53px auto;
		}
		&:hover {
	  		@include buttonHover;
	  	}
	}
	&__title {
		@include titleBoldFont(#494949, 45px, left);
		text-transform: none;
		// @include media-breakpoint-down(sm) {
		// 	@include titleBoldFont(#494949, 45px, center);
		// }
	}
	&__text {
		@include text;
		text-align: left;
		// @include media-breakpoint-down(sm) {
		// 	@include text;
		// }
	}
	&__heartTreatmentButton {
		@include longButton;
		position: relative;
		&:hover {
			@include longButtonHover;
		}
		&_whiteColorName {
			background: #0087be;;
			margin-bottom: 19px;
		}
		&_grayColorName {
			background: #e2e2e2;
			margin-bottom: 12px;
		}
	}
	&__circle {
		width: 40px;
		height: 40px;
		background-image: url("../img/Ellipse_2.png");
		&_decor {
			float: left;
			// @include media-breakpoint-down(xs) {
			// 	margin-top: 3px;
			// 	margin-left: 3px;
			// }
		}
		// @include media-breakpoint-down(xs) {
		// 	width: 80px;
		// 	height: 80px;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// }
	}
	&__triangle {
		width: 8px;
		height: 15px;
		background-image: url("../img/triangle.png");
		// @include media-breakpoint-down(xs) {
		// 	width: 16px;
		// 	height: 30px;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// }
		&_decor {
			position: absolute;
			top: 20px;
			left: 23px;
			// @include media-breakpoint-down(xs) {
			// 	position: absolute;
			// 	top: 35px;
			// 	left: 41px;
			// }
		}
	}
	&__nameLongButton {
		&:hover {
			text-decoration: none;
		}
		&_whiteColorName  {
			@include titleMediumFont(#ffffff, 20px, left); 
		margin-left: 20px;
		}
		&_grayColorName  {
			@include titleMediumFont(#494949, 20px, left); 
		margin-left: 20px;
		}
	}
	&__doctorDescription {
		display: block;
		@include titleMediumFont(#6f6f6e, 20px, left);
		// @include media-breakpoint-down(xs) {
		// 	text-align: center;
		// }
		&_decor {
			margin-top: 35px;
		}
	}
	&__dateDoctorsName {
		display: block;
		@include titleMediumFont(#0087be, 15px, left);
		// @include media-breakpoint-down(xs) {
		// 	text-align: center;
		// 	}
		&_decor {
			margin-bottom: 27px;
		}
	}
}

.b-gallery {
	width: 1600px;
	height: auto;
	padding: 94px 0; 
	background-image: url("../img/Layer_3.jpg");
	&_decor {
		margin: 0 auto;
	}
	&__title {
		@include titleBoldFont(#ffffff, 45px, center);
	}
	&__text {
		max-width: 1116px;
		@include text;
		line-height: 30px;
		color: #ffffff;
		&_decor {
			margin: 38px auto 54px;
		}
	}
}

.b-galleryWrap {
	display: grid;
	&_decor {
		margin: 0 auto;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 20px; 
	// 	@include media-breakpoint-down(xs) {
	// 	grid-template-columns: repeat(1, 1fr);
	// 	grid-template-rows: repeat(6, 1fr);	
	// 	grid-column-gap: 167px;
	// 	grid-row-gap: 141px;
	// }
		@media all and (max-width: 390px) {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(6, 1fr);
			grid-column-gap: 0;
			grid-row-gap: 30px; 
		}
	}
	&__item {
		text-align: center;
		&_decor {
			@media all and (max-width: 1001px) {
			margin-bottom: 20px;
			}
		}
	}
	&__img {
		margin: 0 auto;
		text-align: center;
		// @include media-breakpoint-down(xs) {
		// 	width: 1002px;
		// 	height: 627px;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// }
	}
}

.b-ourTeam {
	width: 1600px;
	min-height: 917px;
	padding-top: 148px;
	&_decor {
		margin: 0 auto;
	}
	&__title {
		@include titleBoldFont(#494949, 45px, center);
		line-height: 35px;
		&_decor {
		margin: 0 auto 49px;
	    }
	}
	&__text {
		max-width: 1095px;
		@include text;
		line-height: 18px;
		&_decor {
		margin: 0 auto 84px;
	    }
	}
}

.b-ourTeamWrap {
	width: 1200px;
	&_decor {
		margin: 0 auto;
	}
	&__item {
		// @media all and (max-width: 1115px) {
		// 	margin-bottom: 20px;
		// }
	}
	&__imageDoctorWrap {
		position: relative;
		&:hover .b-ourTeamWrap__imageDoctor {
			visibility: hidden;
			transform: translateY(-150px) scale(0, 0);
			transition-duration: .6s;
			transition-timing-function: linear;
			}
		&:hover .b-ourTeamWrap__imageBack {
			visibility: visible;
			transform: scale(1, 1);
			width: 275px;
			height: 275px;
			transition-duration: .6s;
		}
		&:hover .b-ourTeamWrap__button {
			transform: scale(1.4, 1.4);
		    transition-duration: 1.2s;
		    transition-timing-function: linear;
		}
	}
	&__imageDoctor {
		visibility: visible;
		@include imageDoctor;
	}
	&__imageDoctor1 {
		background-image: url("../img/Doctor_1.png");
	}
	&__imageDoctor2 {
		background-image: url("../img/Doctor_2.png");
	}
	&__imageDoctor3 {
		background-image: url("../img/Doctor_3.png");
	}
	&__imageDoctor4 {
		background-image: url("../img/Doctor_4.png");
	}
	&__imageBack {
		visibility: hidden;
		transform: scale(0, 0);
		width: 275px;
		height: 275px;
		border-radius: 50%;
		@include gradient;
		&_decor {
			position: absolute;
			top: 1px;
			left: 12px;
			z-index: -1;
		}	
	}
	&__button {
		@include button;
		&_decor {
			position: absolute;
			top: 117px;
			left: 55px;
			z-index: -1;
		}
	}
	&__doctorsName {
		@include titleMediumFont(#6f6f6e, 25px, center);
		margin-top: 29px;
		&_decor {
			margin-top: 29px;
		}
	}
	&__position {
		@include titleMediumFont(#6f6f6e, 18px, center);
		line-height: 18px;
		&_decor {
			margin-top: 15px;
		}
	}
	&__social {
		margin-left: -17px;
		text-align: center;
	}
	&__socialItem {
		@include socialIcon(17px, #0087be, 23px, 400, center);
		// @include media-breakpoint-down(xs) {
		// 	@include socialIcon(17px, #0087be, 60px, 400, center);
		// 	line-height: 35px;
		// }
		&_decor {
			margin-top: 32px;
			margin-bottom: 40px;
		}
		&:hover {
			@include socialIconHover;
		}
	}
}

.b-newPatient {
	width: 1600px;
	padding: 68px 105px;
	background-color: #e2e2e2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	// @include media-breakpoint-down(xs) {
	// 	flex-flow: column nowrap;
	// 	align-items: center;
	// }
	&__title {
		@include titleBoldFont(#494949, 30px, left);
	}
	&__button {
		&_decor {
			@include button;
		}
		&:hover {
	  		@include buttonHover;
	  	}
	}
}

.b-footerTop {
	width: 1600px;
	background: #171717;
	padding: 110px 200px;
	margin: 0 auto;
	// @include media-breakpoint-down(sm) {
	// 	&__column {
	// 		padding-left: 190px;
	// 		margin-bottom: 60px;
	// 	}
	// }
	// @include media-breakpoint-down(xs) {
	// 	&__column {
	// 		padding-left: 400px;
	// 		margin-bottom: 60px;
	// 	}
	// }
	&__title {
		@include titleFooter;
		margin-bottom: 70px;
	}
	&__getInTouchItem {
		@include footerTopItemFlex;
		&_decor {
			margin-bottom: 51px;
		}
	}
	&__quickLinksItem {
		@include footerTopItemFlex;
		&_decor {
			margin-bottom: 24px;
		}
	}
	&__ourServicesItem {
		@include footerTopItemFlex;
		&_decor {
			margin-bottom: 24px;
		}
	}
	&__imgMail {
		width: 40px;
		height: 31px;
		background-image: url('../img/mail_Icon.png');
		&_decor {
			margin: 8px 43px 0 0;
		}
	}
	&__imgPhone {
		width: 27px;
		height: 40px;
		background-image: url('../img/phone_Icon.png');
		&_decor {
			margin: 8px 54px 0 0;
		}
	}
	&__imgMap {
		width: 38px;
		height: 40px;
		background-image: url('../img/map_icon.png');
		&_decor {
			margin: 8px 42px 0 0;
		}
	}
	&__imgTriangle {
		width: 8px;
		height: 15px;
		background-image: url("../img/triangle.png");
		&_decor {
			margin: 5px 21px 0 0;
		}
	}
	&__text {
		@include text;
		color: #ffffff;
		line-height: 24px;
		text-align: left;
	}
	&__social {
		&_decor {
			margin-left: -20px;
		}
	}
	&__socialIcon {
		@include socialIcon(20px, #ffffff, 25px, 400, center);
			&:hover {
			@include socialIconHover;
		}
	}
	&__label {
		@include text;
		color: #ffffff;
		line-height: 24px;
		text-align: left;
	}
	&__formItem {
		width: 100%;
		outline: none;
		padding: 0;
		background: none;
		@include text;
		color: #ffffff;
		line-height: 24px;
		text-align: left;
		&_decor {
			border: none;
			border-bottom: 1px solid #ffffff;
			margin-bottom: 30px;
		}
	}
	&__button {
		&_decor {
			@include button;
		}
		&:hover {
	  		@include buttonHover;
	  	}
	}
}

.b-footerBottom {
	width: 1600px;
	height: 116px;
	background-color:  #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	@include text;
	font-size: 13px;
	line-height: 24px;
}

@keyframes logoSmallAnimation {
	0% {
		opacity: 1;
	}
	18.75% {
		opacity: 1;
	}
	36% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes weHaveBestAnimation {
	0% {
		background: url("../img/Layer_10.jpg") no-repeat center center;
		background-size: cover;
	}
	6.25% {
		background: url("../img/Layer_10.jpg") no-repeat center center;
		background-size: cover;
	}
	12.5% {
		background: url("../img/Layer_11.jpg") no-repeat center center;
		background-size: cover;
	}
	18.75% {
		background: url("../img/Layer_11.jpg") no-repeat center center;
		background-size: cover;
	}
	36% {
		background: url("../img/Layer_10_5.jpg") no-repeat center center;
		background-size: cover;
	}
	53% {
		background: url("../img/Layer_10_5.jpg") no-repeat center center;
		background-size: cover;
	}
	69% {
		background: url("../img/Layer_10_4.jpg") no-repeat center center;
		background-size: cover;
	}
	85% {
		background: url("../img/Layer_10_4.jpg") no-repeat center center;
		background-size: cover;
	}
	100% {
		background: url("../img/Layer_10.jpg") no-repeat center center;
		background-size: cover;
	}
}
@keyframes myAnimationImg {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes myAnimationTxt {
  0% {
    transform: rotateY(270deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}